SQL_DATABASE = my_database
SQL_USER = my_user
SQL_PASSWORD = my_password

WP_URL = http://localhost:8080
WP_TITLE = my_inception

WP_ADMIN_USER = my_admin
WP_ADMIN_PASSWORD = my_admin_password
WP_ADMIN_EMAIL = my_admin@admin.com

WP_GUEST_USER = my_guest
WP_GUEST_PASSWORD = my_guest_password
WP_GUEST_EMAIL = my_guest_email@guest.com

FTP_USER = my_ftp
FTP_PASSWORD = my_ftp_password

PORTAINER_PASSWORD = my_portainer_password